{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "COSMOS_ENDPOINT": "https://io-d-itn-common-cosno-01.documents.azure.com:443/",
    "COSMOS_DBNAME": "fims",
    "STORAGE_ACCOUNT_NAME": "fims",
    "CONFIG_QUEUE_queueServiceUri": ""
    "EVENT_STORAGE_URI": "https://fims-storage-event.uri",
    "EVENT_CONTAINER_NAME": "fimseventcontainer"
  }
}