{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "COSMOS_ENDPOINT": "https://io-d-itn-common-cosno-01.documents.azure.com:443/",
    "COSMOS_DBNAME": "fims",
    "FIMS_STORAGE__queueServiceUri": "https://lcavallaro.queue.core.windows.net/",
    "CONFIG_QUEUE_NAME": "config-queue",
    "AUDIT_EVENT_QUEUE_NAME": "audit-events",
    "AUDIT_STORAGE_URI": "https://lcavallaro.blob.core.windows.net/",
    "AUDIT_EVENT_CONTAINER_NAME": "events"
  }
}
