name: Deploy (user-func)

on:
  workflow_dispatch:

jobs:
  user_func_deploy:
    uses: pagopa/dx/.github/workflows/web_app_deploy.yaml@2415cc0f26e094e30bc27ca6706003140603fc7a
    name: Deploy
    secrets: inherit
    with:
      workspace_name: user-func
      environment: app-prod
      resource_group_name: io-p-itn-fims-rg-01
      web_app_name: io-p-itn-fims-user-func-01
      use_staging_slot: true
      use_private_agent: true
